*, *:after, *:before { box-sizing: border-box; }
figure { margin: 0 }

body {
	font-family: 'Noto Sans', sans-serif;
}

.ff-quicksand { font-family: 'Quicksand', sans-serif }
.ff-rokkit { font-family: 'Rokkitt', serif; }

.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.m-0{
	margin: 0;
}


.d-flex{ display: flex;}

.of-cover{ object-fit: cover;}

.fw-100 { font-weight: 100 }
.fw-700 { font-weight: 700 }

.image{
	width: 50%;
}

.image1{
	opacity: 0.5;
}

.image2{
	text-align: right;
	position: relative;
}

.icon-container{
	background-color: #e74c3c;
	position: absolute;
	top: 5%;
	right: 5%;
}

.icon{
	margin: 5px;
	background-image: url('img/icon-search.png');
	display: block;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;	
}

/* .second{
	position: relative;
} */

.bottom{
	background-color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 400px;
	height: 75px;
}

/*
pic - 400x300
*/