.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.start,
.line,
.end,
div.out {
    height: 40px;
    outline: none;
    border: 0;
}

.line {
    width: 200px;
    background-color: #ccc;
}

.start {
    background-color: red;
}

.end {
    background-color: green;
}

.end,
.start {
    width: 30px;
    display: block;
}

#table div,
.out {
    outline: 1px solid
}

.out {
    display: flex;
    width: 200px;
    background-color: grey;
}